@use '../variables' as *;

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
	
    to {
        transform: rotate(359deg);
    }
}

.rotation,
.rotation-reverse {
	animation-name: rotation;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: calc(var(--speed) * 1s);
}

.rotation-reverse {
	animation-direction: reverse;
}

.fill-title {
    > * {
        background: linear-gradient(
            to right,
            $black 50%,
            $gray-lighter 50%
        );
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    &--invert {
        > * {
            background: linear-gradient(
                to right,
                $white 50%,
                $gray-darker 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

.reveal-text {
    .split-line {
        position: relative;
        overflow: hidden;
    }

    &.completed {
        .split-line {
            overflow: visible;
        }
    }
}

.image-reveal {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .reveal {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: 2;
    }

    img {
        visibility: hidden;
        z-index: 1;
    }
}