@use '../variables' as *;

.hover-underline {
	hyphens: auto;
    @include hover-underline;

    &:hover,
    &:focus-visible,
    &.active {
        background-size: 100% var(--border-width);
    }
}

.hover-underline-white {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    width: fit-content;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
        transform: translateX(-100%);
        transition: .6s;
    }

    &:hover {
        &:after {
            transform: translateX(100%);
        }
    }
}

.button {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    border-radius: .25rem;
    text-align: center;
    padding: 1rem 2rem;
    width: fit-content;
    cursor: pointer;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, border-color, color;
    white-space: nowrap;
    line-height: 1;
    font-weight: $medium;

    @media #{$mq-xl-min} {
        padding: 1rem 2.25rem;
    }

	&--small {
		padding: .75rem 1.25rem;

		@media #{$mq-xl-min} {
			padding: .75rem 1.5rem;
		}	
	}

    &--hollow {
        background-color: transparent;
        border: var(--1px) solid $black;
        color: $black;

        &:hover,
        &:focus-visible {
            background-color: $black;
            color: $white;
        }
    }

    &--hollow-white {
        border: var(--1px) solid $white;
        color: $white;

        &:hover,
        &:focus-visible {
            background-color: $white;
            color: $black;
        }
    }

	&--black {
        background-color: $black;
        border: var(--1px) solid $black;
        color: $white;

        &:hover,
        &:focus-visible {
            background-color: transparent;
            border-color: $black;
            color: $black;
        }
    }

    &--white {
        background-color: $white;
        border: var(--1px) solid $white;
        color: $black;

        &:hover,
        &:focus-visible {
            background-color: transparent;
            color: $white;
        }
    }

    > svg {
        width: 1rem;
        min-width: 1rem;
        height: 1rem;

        @media #{$mq-md-min} {
            width: 1.125rem;
            min-width: 1.125rem;
            height: 1.125rem;
        }
    }

    &__text {
        display: flex;
        align-items: center;
        gap: .75rem;

        svg {
            width: .875rem;
            min-width: .875rem;
            height: .875rem;
        }
    }

    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        transition: .3s ease-in-out;

        > span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            svg {
                width: auto;
                height: 100%;
            }
        }
    }
}