$transparent:           transparent;
$pure-white:            #fff;
$white:                 #F7F7F7;
$gray-lighter:          #F0F1EF;
$gray-light:            #D3D3D3;
$gray-medium:           #939393;
$gray-dark:             #484848;
$gray-darker:           #232323;
$black:                 #0d0e13;
$pure-black:            #000;

$red:                   #ff3838;
$yellow:                #FFCE00;

// create a color map
$colors: (
    'transparent':          $transparent,
    'pure-white':           $pure-white,
    'white':                $white,
    'gray-lighter':         $gray-lighter,
    'gray-light':           $gray-light,
    'gray-medium':          $gray-medium,
    'gray-dark':            $gray-dark,
    'gray-darker':          $gray-darker,
    'black':                $black,
    'pure-black':           $pure-black,
    'red':                  $red,
    'yellow':               $yellow
);