$font-body:             'Figtree', sans-serif;
$font-title:            'Figtree', sans-serif;

$thin: 					100;
$extra-light:           200;
$light:                 300;
$regular: 				400;
$medium:                600;
$semi-bold:             600;
$bold: 					700;
$extra-bold:            800;