.component {
    position: relative;
    z-index: 8;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    clip-path: inset(-10% -10% -10% -10%);

    .followMouse {
        position: fixed;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-color: rgba($black, .95);
        backdrop-filter: blur(.1rem);
        color: $white;
        pointer-events: none;
        transform: scale(0);

        @media #{$mq-md-max} {
            display: none;
        }
    }

    .content {
        position: relative;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}