@use '../variables/breakpoints.scss' as *;

@mixin text-80 {
	font-size: 3rem;
	line-height: 1;

	@media #{$mq-xs-min} {
		font-size: 3.25rem;
	}

	@media #{$mq-sm-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-md-min} {
		font-size: 3.925rem;
	}

	@media #{$mq-lg-min} {
		font-size: 4.25rem;
	}

	@media #{$mq-xl-min} {
		font-size: 4.5rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 4.75rem;
	}

	@media #{$mq-3xl-min} {
		font-size: 5rem;
	}
}

@mixin text-70 {
	font-size: 2.75rem;
	line-height: 1;

	@media #{$mq-xs-min} {
		font-size: 3rem;
	}

	@media #{$mq-sm-min} {
		font-size: 3.25rem;
	}

	@media #{$mq-md-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-lg-min} {
		font-size: 3.75rem;
	}

	@media #{$mq-xl-min} {
		font-size: 4rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 4.25rem;
	}

	@media #{$mq-3xl-min} {
		font-size: 4.38rem;
	}
}

@mixin text-60 {
	font-size: 2.5rem;
	line-height: 1.1;

	@media #{$mq-sm-min} {
		font-size: 2.75rem;
		line-height: 1;
	}

	@media #{$mq-md-min} {
		font-size: 3rem;
	}

	@media #{$mq-lg-min} {
		font-size: 3.25rem;
	}

	@media #{$mq-xl-min} {
		font-size: 3.5rem;
	}

	@media #{$mq-2xl-min} {
		font-size: 3.75rem;
	}
}

@mixin text-50 {
	font-size: 2.25rem;
	line-height: 1.1;

	@media #{$mq-sm-min} {
		font-size: 2.5rem;
	}

	@media #{$mq-md-min} {
		font-size: 2.75rem;
	}

	@media #{$mq-lg-min} {
		font-size: 3rem;
		line-height: 1;
	}

	@media #{$mq-xl-min} {
		font-size: 3.13rem;
	}
}

@mixin text-40 {
	font-size: 1.75rem;
	line-height: 1.2;

	@media #{$mq-sm-min} {
		font-size: 2rem;
		line-height: 1.1;
	}

	@media #{$mq-md-min} {
		font-size: 2.25rem;
	}

	@media #{$mq-xl-min} {
		font-size: 2.5rem;
	}
}

@mixin text-30 {
	font-size: 1.5rem;
	line-height: 1.3;

	@media #{$mq-md-min} {
		font-size: 1.75rem;
	}

	@media #{$mq-lg-min} {
		font-size: 1.88rem;
	}
}

@mixin text-25 {
	font-size: 1.25rem;
	line-height: 1.3;

	@media #{$mq-md-min} {
		font-size: 1.45rem;
	}

	@media #{$mq-lg-min} {
		font-size: 1.56rem;
	}
}

@mixin text-20 {
	font-size: 1.15rem;

	@media #{$mq-md-min} {
		font-size: 1.2rem;
	}

	@media #{$mq-lg-min} {
		font-size: 1.25rem;
	}
}

@mixin text-18 {
	font-size: 1.1rem;

	@media #{$mq-md-min} {
		font-size: 1.13rem;
	}
}

@mixin text-16 {
	font-size: 1rem;
}

@mixin text-14 {
	font-size: .875rem;
}

@mixin text-12 {
	font-size: .75rem;
}