.component {
    position: relative;
    overflow: hidden;
    height: 100lvh;

    .link {
        opacity: 0;

        &:nth-child(1) { z-index: 5; }
        &:nth-child(2) { z-index: 4; }
        &:nth-child(3) { z-index: 3; }
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100lvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        text-align: center;
        padding: 5vh 0;

        @media #{$mq-md-min} {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
            justify-content: space-between;
            gap: 2rem;
        }

        &:nth-child(1) { z-index: 3; }
        &:nth-child(2) { z-index: 2; }
        &:nth-child(3) { z-index: 1; }

        &:not(:first-child) {
            .left {
                h3 {
                    transform: translateY(200%);
                }
            }

            .right {
                h3 {
                    transform: translateY(200%);
                }
            }
        }

        .left {
            position: relative;
            overflow: hidden;
            display: block;

            @media #{$mq-md-min} {
                text-align: left;
            }
        }

        .image {
            position: relative;
            overflow: hidden;
            display: block;
            border-radius: .5rem;
            width: 70vw;
            height: 40vh;
            background-color: $black;

            @media #{$mq-md-min} {
                width: 27.5vw;
                min-width: 27.5vw;
                height: 60vh;
            }
        }

        .right {
            position: relative;
            overflow: hidden;
            display: block;

            @media #{$mq-md-min} {
                text-align: right;
            }
        }
    }

    .bg {
        position: absolute;
        overflow: hidden;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $pure-black;

        .bgSlide {
            &:nth-child(1) { z-index: 3; }
            &:nth-child(2) { z-index: 2; }
            &:nth-child(3) { z-index: 1; }

            > * {
                filter: blur(.125rem) brightness(.5);
                transform: scale(1.1);

                @media #{$mq-md-min} {
                    filter: blur(.5rem) brightness(.5);
                }
            }
        }
    }
}