.component {
	.top {
        .left {
            @media #{$mq-sm-max} {
                text-align: center;
            }

            .email {
                br {
                    @media #{$mq-sm-min} {
                        display: none;
                    }
                }
            }

            .address {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                text-align: center;
                margin-top: var(--smaller);

                @media #{$mq-sm-min} {
                    flex-direction: row;
                    text-align: left;
                    align-items: flex-end;
                    justify-content: space-between;
                    gap: 2rem;
                }

                @media #{$mq-xl-min} {
                    width: 31.75rem;
                    max-width: 100%;
                }
            }
        }

        .right {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                margin-top: var(--smaller);

                @media #{$mq-sm-min} {
                    border-top: 1px solid $gray-light;
                    padding-top: var(--smaller);
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: .95rem;
                }

                @media #{$mq-lg-min} {
                    padding-left: 3rem;
                    flex-direction: column;
                    justify-content: flex-start;
                    border-top: none;
                    padding-top: 0;
                    margin-top: 0;
                }
            }
        }
    }

    .middle {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        @media #{$mq-md-min} {
            justify-content: space-between;
            flex-direction: row-reverse;
        }

        .social {
            display: flex;
            align-items: center;
            gap: .5rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: 1px solid $gray-light;
                color: $gray-medium;
                padding: 1rem;
                transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

                &:hover,
                &:focus-visible {
                    background-color: $black;
                    border-color: $black;
                    color: $white;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .logo {
            display: flex;
            width: 12rem;
            transition: .3s ease-in-out;

            @media #{$mq-md-min} {
                width: 15rem;
            }

            @media #{$mq-lg-min} {
                width: 20rem;
            }

            &:hover,
            &:focus-visible {
                opacity: .5;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .bottom {
        border-top: 1px solid $gray-light;
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-direction: column-reverse;

        @media #{$mq-md-min} {
            flex-direction: row;
            gap: 2rem;
            justify-content: space-between;
        }
    }
}